<%- include('./includes/head', { pageTitle: 'An errir has occured!' }) %>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>Could not find resources!</h1>
        <p>
            Unfortunately, we could not find the resources that you requested.
        </p>
        <p><a href="/" class="btn">Back to safety!</a></p>
    </main>
<%- include('./includes/footer') %>